body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #2d0f3a; 
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    background-color: #ffc0cb;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
}

header h1 {
    font-family: 'Danfo', serif; 
    font-size: 6em;
    margin: 0; 
}

main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer {
    margin: 20px;
}

.hide {
    display: none;
}

button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    margin: 10px 0;
    padding: 5px;
    width: 50%;
    text-align: center;
}
